.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.redbutton{
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  height: 40px;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
}

h1{
  color: rgb(201, 244, 255);
}

.marg{
  margin-top: 60px;
}

.main{
  height: 800px;
}
.range{
  height: 800px;
}

.contacts{
  height: 800px;
}

.delivery{
  height: 800px;
}

.payment{
  height: 800px;
}

.hh{
  position: relative;
  top: 20%;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 300px;
}

.products {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}

p.description{
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

h3.action{
  font-family: Verdana, sans-serif;
  font-size: 40px;
  color: rgb(249, 133, 102);
}

p.action{
  font-family: Verdana, sans-serif;
  font-size: 30px;
}

.testimonial{
 margin-bottom: 10px;
}

 .testimonial-section {
 width: 100%;
 height: auto;
 padding: 15px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 position: relative;
 border: 1px solid #fff;
 }
 .testimonial-section:after {
 top: 100%;
 left: 50px;
 border: solid transparent;
 content: " ";
 position: absolute;
 border-top-color: #fff;
 border-width: 15px;
 margin-left: -15px;
 }

 .testimonial-desc {
 margin-top: 20px;
 text-align:left;
 padding-left: 15px;
 }
 .testimonial-desc img {
 border: 1px solid #f5f5f5;
 border-radius: 150px;
 height: 70px;
 padding: 3px;
 width: 70px;
 display:inline-block;
 vertical-align: top;
 }

 .testimonial-you{
 display: inline-block;
 vertical-align: top;
 padding-left: 10px;
 }

 .testimonial-you-name{
 font-weight: bold;
 }

 .testimonial-you-designation{
 font-size: 85%;
 }

 .testimonial-you-company{
 font-size: 85%;
 }

 /*- Testimonials Transparent Style -*/
 .testimonial.testimonial-default{

 }
 .testimonial.testimonial-default .testimonial-section{
 border-color: #777;
 }

 .testimonial.testimonial-default .testimonial-section:after{
 border-top-color: #777;
 }

 .testimonial.testimonial-default .testimonial-desc{

 }

 .testimonial.testimonial-default .testimonial-desc img{
 border-color: #777;
 }

 .testimonial.testimonial-default .testimonial-you-name{
 color: #777;
 }

 .testimonial.testimonial-primary{

 }
 .testimonial.testimonial-primary .testimonial-section{
 border-color: #337AB7;
 color: #286090;
 background-color: rgba(51, 122, 183, 0.1);
 }

 .testimonial.testimonial-primary .testimonial-section:after{
 border-top-color: #337AB7;
 }

 .testimonial.testimonial-primary .testimonial-desc{

 }

 .testimonial.testimonial-primary .testimonial-desc img{
 border-color: #337AB7;
 }

 .testimonial.testimonial-primary .testimonial-you-name{
 color: #337AB7;
 }

 .testimonial.testimonial-info{

 }
 .testimonial.testimonial-info .testimonial-section{
 border-color: #5BC0DE;
 color: #31b0d5;
 background-color: rgba(91, 192, 222, 0.1);
 }

 .testimonial.testimonial-info .testimonial-section:after{
 border-top-color: #5BC0DE;
 }

 .testimonial.testimonial-info .testimonial-desc{

 }

 .testimonial.testimonial-info .testimonial-desc img{
 border-color: #5BC0DE;
 }

 .testimonial.testimonial-info .testimonial-you-name{
 color: #5BC0DE;
 }


 .testimonial.testimonial-success{

 }
 .testimonial.testimonial-success .testimonial-section{
 border-color: #5CB85C;
 color: #449d44;
 background-color: rgba(92, 184, 92, 0.1);
 }

 .testimonial.testimonial-success .testimonial-section:after{
 border-top-color: #5CB85C;
 }

 .testimonial.testimonial-success .testimonial-desc{

 }

 .testimonial.testimonial-success .testimonial-desc img{
 border-color: #5CB85C;
 }

 .testimonial.testimonial-success .testimonial-you-name{
 color: #5CB85C;
 }

 .testimonial.testimonial-warning{

 }
 .testimonial.testimonial-warning .testimonial-section{
 border-color: #F0AD4E;
 color: #d58512;
 background-color: rgba(240, 173, 78, 0.1);
 }

 .testimonial.testimonial-warning .testimonial-section:after{
 border-top-color: #F0AD4E;
 }

 .testimonial.testimonial-warning .testimonial-desc{

 }

 .testimonial.testimonial-warning .testimonial-desc img{
 border-color: #F0AD4E;
 }

 .testimonial.testimonial-warning .testimonial-you-name{
 color: #F0AD4E;
 }

 .testimonial.testimonial-danger{

 }
 .testimonial.testimonial-danger .testimonial-section{
 border-color: #D9534F;
 color: #c9302c;
 background-color: rgba(217, 83, 79, 0.1);
 }

 .testimonial.testimonial-danger .testimonial-section:after{
 border-top-color: #D9534F;
 }

 .testimonial.testimonial-danger .testimonial-desc{

 }

 .testimonial.testimonial-danger .testimonial-desc img{
 border-color: #D9534F;
 }

 .testimonial.testimonial-danger .testimonial-you-name{
 color: #D9534F;
 }

 /*- Testimonials Background Style -*/
 .testimonial.testimonial-default-bg{

 }
 .testimonial.testimonial-default-bg .testimonial-section{
 color: #fff;
 border-color: #777;
 background-color: #777;
 }

 .testimonial.testimonial-default-bg .testimonial-section:after{
 border-top-color: #777;
 }

 .testimonial.testimonial-default-bg .testimonial-desc{

 }

 .testimonial.testimonial-default-bg .testimonial-desc img{
 border-color: #777;
 background-color: #777;
 }

 .testimonial.testimonial-default-bg .testimonial-you-name{
 color: #777;
 }

 .testimonial.testimonial-primary-bg{

 }
 .testimonial.testimonial-primary-bg .testimonial-section{
 color: #fff;
 background-color: #337ab7;
 border-color: #2e6da4;
 }

 .testimonial.testimonial-primary-bg .testimonial-section:after{
 border-top-color: #337AB7;
 }

 .testimonial.testimonial-primary-bg .testimonial-desc{

 }

 .testimonial.testimonial-primary-bg .testimonial-desc img{
 border-color: #2e6da4;
 background-color: #337ab7;
 }

 .testimonial.testimonial-primary-bg .testimonial-you-name{
 color: #337AB7;
 }

 .testimonial.testimonial-info-bg{

 }
 .testimonial.testimonial-info-bg .testimonial-section{
 color: #fff;
 background-color: #5bc0de;
 border-color: #46b8da;
 }

 .testimonial.testimonial-info-bg .testimonial-section:after{
 border-top-color: #5BC0DE;
 }

 .testimonial.testimonial-info-bg .testimonial-desc{

 }

 .testimonial.testimonial-info-bg .testimonial-desc img{
 border-color: #46b8da;
 background-color: #5bc0de;
 }

 .testimonial.testimonial-info-bg .testimonial-you-name{
 color: #5BC0DE;
 }


 .testimonial.testimonial-success-bg{

 }
 .testimonial.testimonial-success-bg .testimonial-section{
 color: #fff;
 background-color: #5cb85c;
 border-color: #4cae4c;
 }

 .testimonial.testimonial-success-bg .testimonial-section:after{
 border-top-color: #5CB85C;
 }

 .testimonial.testimonial-success-bg .testimonial-desc{

 }

 .testimonial.testimonial-success-bg .testimonial-desc img{
 border-color: #4cae4c;
 background-color: #5cb85c;
 }

 .testimonial.testimonial-success-bg .testimonial-you-name{
 color: #5CB85C;
 }

 .testimonial.testimonial-warning-bg{

 }
 .testimonial.testimonial-warning-bg .testimonial-section{
 color: #fff;
 background-color: #f0ad4e;
 border-color: #eea236;
 }

 .testimonial.testimonial-warning-bg .testimonial-section:after{
 border-top-color: #F0AD4E;
 }

 .testimonial.testimonial-warning-bg .testimonial-desc{

 }

 .testimonial.testimonial-warning-bg .testimonial-desc img{
 border-color: #eea236;
 background-color: #f0ad4e;
 }

 .testimonial.testimonial-warning-bg .testimonial-you-name{
 color: #F0AD4E;
 }

 .testimonial.testimonial-danger-bg{

 }
 .testimonial.testimonial-danger-bg .testimonial-section{
 color: #fff;
 background-color: #d9534f;
 border-color: #d43f3a;
 }

 .testimonial.testimonial-danger-bg .testimonial-section:after{
 border-top-color: #D9534F;
 }

 .testimonial.testimonial-danger-bg .testimonial-desc{

 }

 .testimonial.testimonial-danger-bg .testimonial-desc img{
 border-color: #d43f3a;
 background-color: #D9534F;
 }

 .testimonial.testimonial-danger-bg .testimonial-you-name{
 color: #D9534F;
 }
