<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Phone Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="css/tree-control.css" rel="stylesheet">
    <link href="css/tree-control-attribute.css" rel="stylesheet">
    <link href="css/default-theme.css" rel="stylesheet">
</head>
<body ng-app="application">
<div class="container-fluid" ng-controller="HomeController">
    <div class="row element-shift-top-10">
        <div class="col-lg-12">
            <button type="button" class="btn btn-default" ng-click="addPhone()">Добавить телефон</button>
            <button type="button" class="btn btn-default" ng-click="addCategory()">Добавить категорию</button>
            <button type="button" class="btn btn-default pull-right" ng-click="sort()">Сортировка элементов</button>
            <button type="button" class="btn btn-default pull-right" ng-click="goToMarket()">Вернуться в магазин</button>
        </div>
    </div>
    <div class="row element-shift-top-20">
        <div class="col-lg-3">
            <div treecontrol class="tree-light" tree-model="treeData" options="treeOptions" on-selection="showSelected(node)" selected-node="node1">
            </div>
            <div class="container-fluid">
                <div class="row element-shift-top-10">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="remove()">Удалить</button>
                        <button type="button" class="btn btn-default" ng-click="edit()">Редактировать</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <table class="table table-hover">
                <thead>
                <tr class="active">
                    <th>#</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Изображение</th>
                    <th>Категория</th>
                </tr>
                </thead>
                <tbody ng-repeat="phone in phones">
                <tr class="{{phone.selected ? 'active' : ''}}" ng-click="select(phone)">
                    <td>{{phone.id}}</td>
                    <td>{{phone.name}}</td>
                    <td>{{phone.description}}</td>
                    <td>{{phone.photoUrl}}</td>
                    <td>{{phone.category}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-view></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../libs/angular.js"></script>
<script src="../libs/angular-route.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="controllers/app.js"></script>
<script src="controllers/tree-controller.js"></script>
<script src="controllers/phone-controller.js"></script>
<script src="controllers/category-controller.js"></script>
<script src="controllers/sortable-controller.js"></script>
<script src="controllers/angular-tree-control.js"></script>
</body>
</html>
