<div class="col-md-12 products">
    <div class="row">
        <div class="col-sm-3">
            <div class="product">
                <div class="product-img">
                    <a href="#"><img src="img/ps3.jpg" alt=""></a>
                </div>
                <p class="product-title">
                    <a href="#">Sony PlayStation 3</a>
                </p>
                <br>
                <p class="product-desc">Качественная игровая приставка от Японского производителя</p>
                <p class="product-price">Цена: 150.00$</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="product">
                <div class="product-img">
                    <a href="#"><img src="img/ps4.jpeg" alt=""></a>
                </div>
                <p class="product-title">
                    <a href="#">Sony PlayStation 4</a>
                </p>
                <br>
                <p class="product-desc">Игры и развлечения с поддержкой новейших технологий</p>
                <p class="product-price">Цена: 200.00$</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="product">
                <div class="product-img">
                    <a href="#"><img src="img/xbox360.jpg" alt=""></a>
                </div>
                <p class="product-title">
                    <a href="#">Xbox 360</a>
                </p>
                <br>
                <p class="product-desc">Самое приобретаемое устройство по доступной цене</p>
                <p class="product-price">Цена: 100.00$</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="product">
                <div class="product-img">
                    <a href="#"><img src="img/gamepad-xbox360.jpg" alt=""></a>
                </div>
                <p class="product-title">
                    <a href="#">Геймпад для Xbox</a>
                </p>
                <br>
                <p class="product-desc">Удобный гемпад для консолей Xbox</p>
                <p class="product-price">Цена: 40.00€</p>
            </div>
        </div>
    </div>
</div>