<!DOCTYPE html>
<html lang="en">
<head>
    <title>GameHouse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/product.css">
</head>
<body ng-controller="MarketController" ng-app="market">
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">GameHouse</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#main">Главная</a></li>
                <li><a href="#range">Ассортимент</a></li>
                <li><a href="#contacts">Акция</a></li>
                <li><a href="#delivery">Отзывы</a></li>
                <li><a href="#payment">Видео</a></li>
                <li><a href="#" ng-click="goToTreeComponent()">Телефонная база</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Вход</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Регистрация</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Поиск" class="form-control">
                </div>
                <button type="submit" name="btn btn-search">Найти</button>
            </form>
        </div>
    </nav>
</header>
<div class="container-fluid main" id="main">
    <div class="marg">
        <h1 align="center">Магазин игровых приставок</h1>
        <p class="description">В нашем специализированном магазине мультимедийных развлечений Вашему вниманию
            представлен ассортимент товаров, который ориентирован на любителей видеоигр, PC пользователей, а также
            геймеров со стажем!
            Благодаря профессионализму сотрудников, качественной продукции и высококлассному сервису в своей
            повседневной деятельности мы не гонимся за сиюминутной выгодой. Мы стремимся к взаимовыгодным и, конечно же,
            долгосрочным отношениям с нашими клиентами и партнерами.
            Наши сотрудники всегда в курсе о новинках игровой индустрии, чувствуют пульс времени! Поэтому предлагаемый
            нашим магазином товар постоянно проходит тщательный отбор и проверку. Мы выбираем для своих клиентов только
            самое лучшее, только самое передовое и только самое перспективное.
            Мы являемся интернет-магазином и наша задача - внедрять и развивать этот современный и перспективный вид
            сервиса, а постоянное и непрерывное развитие в нашей крови.
        </p>
        <div class="col-md-12">
            <h1 class="text-center">Наши партнеры</h1>
            <div class="row">
                <div class="col-sm-4">
                    <img src="img/sony-logo.jpg">
                </div>
                <div class="col-sm-4">
                    <img src="img/microsoft-logo.jpg">
                </div>
                <div class="col-sm-4">
                    <img src="img/nintendo-logo.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid range" id="range">
    <div class="marg">
        <h1 align="center">Ассортимент</h1>
        <button type="button" class="btn btn-success center-block" ng-click="showProducts()">Показать товары</button>
        <div ng-view class="products-margin"></div>
    </div>
</div>
<div class="container-fluid contacts" id="contacts">
    <div class="marg">
        <h1 align="center">Акция</h1>
        <h3 align="center" class="action">Успейте купить xbox 360 ВСЕГО ЗА 100$!!!</h3>
        <p class="action">До конца акции осталось: <span data-ng-bind="timeToAction"></span></p>
    </div>
</div>
<div class="container-fluid delivery" id="delivery">
    <div class="marg">
        <h1 class="text-center">Отзывы наших покупателей</h1>
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <div class="testimonial testimonial-default-bg">
                        <div class="testimonial-section">
                            Отличный магазин. Качественный товар и доступные цены.
                        </div>
                        <div class="testimonial-desc">
                            <img src="http://bootstraptema.ru/snippets/icons/2016/mia/7.png" alt=""/>
                            <div class="testimonial-you">
                                <div class="testimonial-you-name">Светлана</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="testimonial testimonial-primary-bg">
                        <div class="testimonial-section">
                            Впечатлил большой ассортимент магазина.
                        </div>
                        <div class="testimonial-desc">
                            <img src="http://bootstraptema.ru/snippets/icons/2016/mia/8.png" alt=""/>
                            <div class="testimonial-you">
                                <div class="testimonial-you-name">Анастасия</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="testimonial testimonial-info-bg">
                        <div class="testimonial-section">
                            Быстрая доставка и вежливые курьеры.
                        </div>
                        <div class="testimonial-desc">
                            <img src="http://bootstraptema.ru/snippets/icons/2016/mia/9.png" alt=""/>
                            <div class="testimonial-you">
                                <div class="testimonial-you-name">Анна</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="testimonial testimonial-success-bg">
                        <div class="testimonial-section">
                            Лучшие игровые приставки.
                        </div>
                        <div class="testimonial-desc">
                            <img src="http://bootstraptema.ru/snippets/icons/2016/mia/10.png" alt=""/>
                            <div class="testimonial-you">
                                <div class="testimonial-you-name">Елена</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="testimonial testimonial-warning-bg">
                        <div class="testimonial-section">
                            Очень хороший магазин. Быстрое обслуживание и качественный товар.
                        </div>
                        <div class="testimonial-desc">
                            <img src="http://bootstraptema.ru/snippets/icons/2016/mia/11.png" alt=""/>
                            <div class="testimonial-you">
                                <div class="testimonial-you-name">Андрей</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="testimonial testimonial-danger-bg">
                        <div class="testimonial-section">
                            Оригинальный и качественный товар по приемлемой цене.
                        </div>
                        <div class="testimonial-desc">
                            <img src="http://bootstraptema.ru/snippets/icons/2016/mia/12.png" alt=""/>
                            <div class="testimonial-you">
                                <div class="testimonial-you-name">Мария</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid payment" id="payment">
    <div class="marg">
        <h1 class="text-center">Посмотрите видео о Нас</h1>
        <div class="container-fluid video">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KEVsKbrHn7k"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="section footer-classic context-dark bg-image" style="background: #24262f;">
    <div class="container-fluid">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                    <p>GameHouse - крупнейший специализированный ритейлер цифровых равлечений в Беларуси</p>
                    <p>Мы реализуем официальную продукцию Nintendo, Sony PlayStation, Microsoft Xbox и других
                        производителей</p>
                    <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>GameHouse</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <dl class="contact-list">
                    <dt>Адрес</dt>
                    <dd>г.Минск, ул. Я. Коласа, 35</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">gamehouseconsole@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Телефоны:</dt>
                    <dd><a href="tel:#">+375295874456</a><span>&nbsp;&nbsp;velcom</span></dd>
                    <dd><a href="tel:#">+375446578512</a><span>&nbsp;&nbsp;МТС</span></dd>
                    <dd><a href="tel:#">+375332547865</a><span>&nbsp;&nbsp;life</span></dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <ul class="nav-list">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Информация о доставке</a></li>
                    <li><a href="#">Информация об оплате</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Производители</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row no-gutters social-container">
        <div class="col-md-3"><a class="social-inner" target="_blank" href="https://www.facebook.com/"><span
                class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        <div class="col-md-3"><a class="social-inner" target="_blank" href="https://www.instagram.com/"><span
                class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
        <div class="col-md-3"><a class="social-inner" target="_blank" href="https://twitter.com/"><span
                class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
        <div class="col-md-3"><a class="social-inner" target="_blank"
                                 href="https://aboutme.google.com/u/0/?referer=gplus"><span
                class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="libs/angular.js"></script>
<script src="libs/angular-route.js"></script>
<script src="controllers/market-route-config.js"></script>
<script src="controllers/market-controller.js"></script>
</body>
</html>
