<div class="ui-publisher-dialog" ng-controller="PhoneController" ng-app="phoneWritter">
    <form>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="name">Название телефона</label>
                    <input id="name" type="text" class="form-control" placeholder="Название телефона" ng-model="name">
                </div>
                <div class="form-group">
                    <label for="photoUrl">Фото</label>
                    <input id="photoUrl" type="text" class="form-control" placeholder="Фото" ng-model="photoUrl">
                </div>

                <div class="form-group">
                    <label for="category">Категория</label>
                    <select id="category" class="form-control" ng-model="category">
                        <option>Категория 1</option>
                        <option>Категория 2</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea id="description" rows="3" class="form-control" placeholder="Описание" ng-model="description"></textarea>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr class="active">
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Test 2</td>
                        <td>Test 3</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Test 2</td>
                        <td>Test 3</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Test 2</td>
                        <td>Test 3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-success" ng-click="submit()">{{canEdit ? 'Сохранить' : 'Добавить'}}</button>
                <button type="button" class="btn btn-warning" ng-click="cancel()">Отмена</button>
            </div>
        </div>
    </form>
</div>
<div class="ui-overlay"></div>
